<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Txus">
    <title>Vehicles</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--
            <link rel="stylesheet" type="text/css" media="screen" href="css/base.css">
            <script src="js/scripts.js"></script>
            -->
</head>

<body>
    <header class="container">
        <h1>EJERCICIO VEHÍCULOS</h1>
    </header>
    <section class="container">
        <div id="formZone">
            <form class="form row" name="carForm" id="carForm">
                <div class="col-md-4">
                    <label for="plate" class="d-block">Plate</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" id="plate" name="plate">
                </div><!-- col -->
                <div class="col-md-4">
                    <label for="brand" class="d-block">Brand</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" id="brand" name="brand">
                </div><!-- col -->
                <div class="col-md-4">
                    <label for="color" class="d-block">Color</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" id="color" name="color">
                </div><!-- col -->
            </form>
            <button type="submit" class="btn btn-primary my-3" id="createCar">Create car</button>
        </div>
        <div id="carInfo" class="row"></div>
        <div id="wheelsInfo" class="row"></div>
        <!-- <button onclick="createCar('1212SDS','SEAT','ROJO')">Create car</button> -->
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="../models/car.js"></script>
    <script src="../models/wheel.js"></script>
    <script src="../controllers/controller.js"></script>
    <script src="js/views.js"></script>
</body>

</html>